<div class="container ">
    <div class="cards_container">
        {{#if locations}}
        {{#each locations}}
        <div class="movie_card " style="background-image: url('/uploads/{{fileName}}');">
            <div class="movie_card_content">
                <div class="movie_header">
                    <h3>{{name}}</h3>
                    <span>{{description}}</span>
                </div>
                <a href="/approve/{{_id}}">approve location!!</a>
            </div>
        </div>
        {{/each}}
        {{/if}}
    </div>
</div>