<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1>name: {{userDetails.name}}</h1>
            <h1>name: {{userDetails.email}}</h1>
        </div>
    </div>
</div>